/*
    Xamarin uses slightly different CSS.
    Refer to https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/styles/css/
*/
^contentpage {
    color: midnightblue;
}
.h1 {
    font-style: bold;
    font-size: large;
}
.h2 {
    font-size: medium;
}
.hr {
    height: 1;
    color: midnightblue;
}
.button {
    color: white;
    background-color: midnightblue;
    font-style: bold;
    padding: 3;
}