/*
    Xamarin uses slightly different CSS.
    Refer to https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/styles/css/
*/
^contentpage {
    color: midnightblue;
}
.h1 {
    font-style: bold;
    font-size: large;
}
.h2 {
    font-size: medium;
}
.hr {
    height: 1;
    color: midnightblue;
    margin: 6;
}
.spacer {
    height: 0;
    color: white;
    margin: 6;
}
.button {
    color: white;
    background-color: midnightblue;
    font-style: bold;
    padding: 3;
}
#Label1 {
    color: midnightblue;
}
.greenButton {
    color: white;
    background-color: green;
    font-style: bold;
    padding: 3;
}
.yellowButton {
    color: black;
    background-color: yellow;
    font-style: bold;
    padding: 3;
}
.redButton {
    color: white;
    background-color: red;
    font-style: bold;
    padding: 3;
}